@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");
.public {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: zoomin;
    animation-duration: 3s;
    h1 {
      font-family: "Monsieur La Doulaise", cursive;
      font-size: 3rem;
      text-shadow: 0 0 7px white;
      color: #333;
      text-align: center;
      line-height: 2rem;
    }
    a {
      display: block;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      text-shadow: 0 0 7px white;
      color: #333;
      text-decoration: none;
    }
  }
}

@keyframes zoomin {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
